.App {
	background-color: black;
	padding: 12px;
	height: 100%;
}

.searchAndDisplay {
	background: rgb(76, 221, 30);
	background: radial-gradient(circle, rgba(76, 221, 30, 1) 5%, rgba(37, 36, 36, 1) 47%);
	padding: 12px;
}